main {
  width: 45%;
  margin: 0 auto;
  max-width: 50em;
  min-width: 12em;
  padding: 1em;
}

header {
  margin-bottom: 1em;
  padding: 1em 15%;
}

label {
  display: block;
}

input[type="submit"] {
  margin-top: 1em;
  width: 100%;
}

.startPage { text-align: center }
.title { text-align: center }

.questionNum,
.pointsNum {
  margin-left: 2em;
  float: right;
}

@media only screen and (max-width: 600px) {
  .title {
    display: none;
  }

  header {
    padding: 1em 5%;
  }
}